* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    width: 80%;
    margin: 0 auto;

}

.container-parent {
    border-bottom: solid 4px black;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.img-1 {
    height: 65px;
}

ul {
    display: flex;
    gap: 30px;
}

.nav ul li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li a:hover {
    color: green;
}

.nav {
    display: flex;
    gap: 30px;
}

.hide {
    display: none;
}

.show:hover .hide {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 103px;
    left: 0;
    background-color: rgba(128, 128, 128, 0.63);
    width: 100%;
}

.nav-btn {
    border: solid 3px black;
    padding: 8px;
    background-color: black;
}

.nav-btn .fa-solid {
    color: white;
}

.show {
    display: none;
}

.section-2 {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 80px;
}

.section-2-contain {
    width: 800px;
}

.section-2-contain h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.section-2-contain h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.section-2-contain p {
    font-size: 20px;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 30px;
}

.btn-2 {
    background-color: darkgray;
    border: none;
    padding: 20px;
    margin-bottom: 30px;
}

.img-2 {
    height: 405px;
    width: 209px;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.section-3-content {
    padding-top: 50px;
}

.section-3-content {
    width: 35%;
    text-align: center;
}

.section-3-content p {
    font: 18px 'Open Sans';
    line-height: 23px;
    text-align: center;
    margin: 20px;
}

.section-3-content h1 {
    font-weight: 900;
    display: block;
    text-transform: uppercase;
}

.section-4 {
    background-color: #f3f3f3;
    padding-top: 50px;
}

.section-4 h1 {
    font-weight: 900;
    text-align: center;
    font-family: sans-serif;
}

.card {
    padding: 10px;
    height: 150px;
    width: 400px;
    margin-top: 50px;
}

.card a {
    color: #2a363f;
    text-decoration: none;
}

.card P {
    font: 15px 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 23px;
}

.card .fa {
    float: left;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 62px;
    position: relative;
    margin: 6px;
    color: #2a363f;
    font-size: 23px;
    margin-right: 20px;
}

.parent {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.img-4 {
    display: flex;
    justify-content: center;
    position: relative;
    /* left: 46.9%; */
    top: 10px;

}


.section-5-parent {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-5-box {
    width: 50%;
    background-color: #2a363f;
    padding: 50px;
    padding-left: 15%;
    height: 400px;
}


.section-5-box-2 {
    width: 50%;
    background-color: #3f4a52;
    padding: 50px;
    height: 400px;

}

.box-contain-5 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.btn-3 {
    color: #86c724;
    font-size: 14px;
    text-transform: uppercase;
    background: #fff;
    padding: 13px 30px;
    border-radius: 3px;
    white-space: nowrap;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-top: 30px;
}

.section-5 li::marker {
    content: '➙';
}

.section-5 li {
    color: white;
    margin-top: 20px;
    padding-left: 20px;
    font-family: sans-serif;

}

.section-5 p {
    color: white;
    font-size: 20px;
    font-family: sans-serif;


}

.section-5 h1 {
    text-align: center;
    color: #20a461;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.section-5-parent h1 {
    font-size: 14px;
    color: #727272;
    text-align: left;
    font-family: sans-serif;
}

.section-5 .fa {
    float: left;
    margin-right: 25px;
    color: #fff;
    font-size: 58px;
    margin-top: 14px;
}

.section-5-box a {
    text-decoration: none;
    color: #20a461;
    font-weight: bolder;
    font-family: sans-serif;
}

.section-5 {
    overflow: hidden;
    padding-top: 50px;
}


 /* @media screen and (max-width :767px) {

    .show {
        display: block;
    }

    .nav ul {
        display: none;
    }

    .container-main {
        width: 100%; */
        /* margin: 0 auto; */

    /* }

    .img-1 {
        height: 35px;
    }

    .section-2-contain {
        width: 800px;
    }

    .section-2-contain h2 {
        font-size: 20px;

    }

    .section-2-contain h1 {
        font-size: 20px;

    }

    .section-2-contain p {
        font-size: 20px;
        text-align: justify;

    }

    .img-2 {
        height: 305px;
        width: 159px;
    }


    .section-2-contain {
        width: 80%;
        margin: 0 auto;
    }

    .section-2 {

        display: flex;
        flex-direction: column-reverse;
    } */

    /* .section-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

    } */

    .img-3 {
        height: 300px;
    }

    .section-3-content {
        width: 100%;
        text-align: center;

    }

    .section-3-content {
        padding-top: 0px;
    }

    .section-3-content p {
        font: 14px 'Open Sans';
        line-height: 18px;
        text-align: center;
        margin: 10px;
    }

    .parent {
        display: flex;
        justify-content: center;
        gap: 0px;
        flex-direction: column;

    }

    .card-1 {
        display: none;
    }

    .card {
        height: fit-content;
        width: fit-content;
        padding: 8px;
        margin-top: 30px;
    }

    .section-4 h1 {
        font-size: 15px;
        font-weight: 900;
        text-align: center;
        font-family: sans-serif;
    }

    .section-4 {
        background-color: #f3f3f3;
        padding-top: 10px;
    }

    .card P {
        font: 13px 'Open Sans', sans-serif;
        font-weight: normal;
        line-height: 18px;
    }

    .section-5-parent {
        display: flex;
        flex-direction: column;
    }

    .section-5-box {
        width: 100%;
    }

    .section-5-box-2 {
        width: 100%;
    }

    .img-4 {
        position: relative;
        left: 46.9%; 
        top: 1px;
    
    }
    .container-parent {
        border-bottom: solid 1px black;
        padding-bottom: 20px;
    }





@media screen and (min-width :767px) {
    
    .section-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* flex-direction: column; */
        gap: 20px;
}
.section-3-content {
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-parent {
    border-bottom: solid 1px black;
    padding-bottom: 20px;
}
}

